.box {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
  margin: 100px 50px 30px 10px;
}

.green {
  background-color: green;
}

.yellow{
  background-color: yellow;
  padding: 100px;
  margin: 100px;
}

.blue{
  background-color: skyblue;
  padding: 50px;
  border: 5px solid black;
  margin: 100px;
}

.video{
  width: 13%;
  height: 400px;
}

ul{
  list-style-type: square;
}